:root {
    --primary : #1890ff;
    --success: #04C35C;
    --warning: #faad14;
    --danger:#dc3545 ;
    --white: #fdfdfd;
    --dark:#181717;
}

.btn {
  color:#FFFFFF;
  font-size: 16px;
  font-weight: bold;
    border-radius: 5px ;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform :translate(3px);
}


.btn-primary-solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
  }
  
  .btn-warning-solid {
    background-color: var(--warning);
    color: var(--dark);
    border: none;
  }
  
  .btn-danger-solid {
    background-color: var(--danger);
    color: var(--white);
    border: none;
  }
  
  .btn-success-solid {
    background-color: var(--success);
    color: var(--white);
    border: none;
  }
  
  .btn-primary-outline {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
   
  }
  
  .btn-warning-outline {
    background-color: transparent;
    border: 2px solid var(--warning);
    color: var(--warning);
    
  }
  
  .btn-danger-outline {
    background-color: transparent;
    border: 2px solid var(--danger);
    color: var(--danger);
   
  }
  
  .btn-success-outline {
    background-color: transparent;
    border: 2px solid var(--success);
    color: var(--success);
    
  }
  
  /* Button Size */
  
  .btn-medium {
    padding: 10px 150px;
    font-size: 12px;
    align-items: center;
    
  }
  
  .btn-large {
    padding: 15px 30px;
    font-size: 20px;
  }
  
  .btn-small {
    
    font-size: 6px;
    
  }

  @media (max-width: 767px) {
    .btn-medium {
      padding: 10px 100px;
      font-size: 12px;
      margin-top: 0;
     align-items: center;
      
    }
  }